
// -wsrfhedsoufheqiwrhew
$mainColor: #4C8BF5;

$normalBorder: solid 1px #E4E7ED;

$normalBoxShadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);

$toastBorder: solid 1px #BAD5F9;
$toastBGC: #E9F3FE;
$toastColor: #555;

$transEdgePadding: 18px;
$transTextFontSize: 16px;
$transRadius: 5px;